<!doctype html>
<html lang="en" data-ng-app="insight" data-ng-csp>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="fragment" content="!">
	<title data-ng-bind="$root.title + $root.titleDetail + ' | GamersExplorer'">GamersExplorer</title>
	<meta name="keywords" content="gamerscoins, transactions, blocks, address, block chain, best block, mining difficulty, hash serialized">
	<meta name="description" content="GamersCoin Insight. View detailed information on all gamerscoin transactions and block. {{ $root.title + $root.titleDetail }}">
	<link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic">
	<link rel="stylesheet" href="/css/main.min.css">
</head>
<body ng-cloak class="ng-cloak">
  <div>
    <script type="text/ng-template" id="scannerModal.html">
      <div class="modal-header">
        <h3 class="modal-title">Scan Code</h3>
      </div>
      <div class="modal-body text-center">
        <canvas id="qr-canvas" width="200" height="150"></canvas>
        <div data-ng-show="isMobile">
          <div id="file-input-wrapper" class="btn btn-primary">
            <span class="pull-left text-center">
              <i class="glyphicon glyphicon-refresh icon-rotate"></i>
              Get QR code
            </span>
            <input id="qrcode-camera" type="file" capture="camera" accept="image/*">
          </div>
        </div>
        <div data-ng-hide="isMobile">
          <video id="qrcode-scanner-video" width="300" height="225" data-ng-hide="isMobile"></video>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-ng-click="cancel()" data-dismiss="modal">Close</button>
      </div>
    </script>
  </div>
	<div id="wrap">
		<div class="navbar navbar-default navbar-fixed-top" data-ng-include="'/views/includes/header.html'" role='navigation'></div>
		<section class="container" data-ng-view></section>
	</div>
	<div id="footer" role="navigation">
    <div class="container" data-ng-controller="FooterController">
      <div class="links m20t pull-left">
        <span class="languages" ng-show="availableLanguages.0">
          [
          <a href="#"
            ng-click="setLanguage(l.isoCode)"
            ng-class="{'selected': defaultLanguage == l.isoCode}"
            ng-repeat="l in availableLanguages">
            <span ng-show="!$first"> &middot; </span> {{l.name}}
          </a>
          ]
        </span>
        &nbsp;
        [
        <a href="/messages/verify" translate>verify message</a>
        <span> &middot; </span>
        <a href="/tx/send" translate>broadcast transaction</a>
        ]
      </div>
      <a class="insight m10v pull-right" target="_blank" href="http://insight.is">insight <small>API v{{version}}</small></a>
    </div>
  </div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendors.min.js"></script>
	<script src="/js/angularjs-all.min.js"></script>
	<script src="/js/main.min.js"></script>
</body>
</html>
