<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('CANN')" data-ng-class="{active: currency.symbol == 'CANN'}">CANN</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mCANN')" data-ng-class="{active: currency.symbol == 'mCANN'}">mCANN</a>
  </li> 
</ul>

